<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>User Details</mat-card-title>
            <mat-card-subtitle>user profile</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span><small>{{user.name}}</small></span>
            <span><small>{{user.mobile}}</small></span>
            <span><small>{{user.email}}</small></span>
        </mat-card-content>
    </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" style="padding: 30px;">
    <button mat-raised-button (click)="spanishMessage()" color="primary">SPANISH</button>
    <button mat-raised-button (click)="frenchMessage()" color="accent">FRENCH</button>

    <div fxLayout="row">
        <span>{{message$ | async}}</span>
    </div>
</div>


<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" style="padding: 30px;">
        <button mat-raised-button (click)="editText()" color="primary">POST</button>
        <button mat-raised-button (click)="upVote()" color="primary">UPVOTE</button>
        <button mat-raised-button (click)="downVote()" color="primary">DOWNVOTE</button>
        <button mat-raised-button (click)="reset()" color="primary">RESET</button>


        <div fxLayout="row">
                <span>{{post$.text | async}}</span>
            </div>
</div>